name: Build and test
on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - "main"
      - "release/v[0-9]**"
  workflow_dispatch:
permissions:
  contents: read

concurrency:
  group: ci-${{ github.ref }}-build
  cancel-in-progress: true

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup Golang
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: "^1.25"
      - name: Display go version
        run: go version
      - name: Run unit tests
        run: make test-unit
      - uses: technote-space/get-diff-action@v6.1.2
        id: git_diff
        with:
          PATTERNS: |
            **/*.go
            go.mod
            go.sum
            **/go.mod
            **/go.sum
            **/Makefile
            Makefile
        ###################
        #### Build App ####
        ###################
      - name: Build cmd apps # to ensure everything compiles
        if: env.GIT_DIFF
        run: make build-all

  e2e-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Check out repository code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Run e2e tests
        run: make e2e
      - name: Upload compose logs
        if: failure()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: e2e-compose-logs
          path: e2e-logs.txt
          retention-days: 7