name: Build and test
on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - "main"
      - "release/v[0-9]**"
  workflow_dispatch:
permissions:
  contents: read

concurrency:
  group: ci-${{ github.ref }}-build
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup Golang
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: "^1.25"
      - name: Display go version
        run: go version
      - name: Run unit tests
        run: make test-unit
      - uses: technote-space/get-diff-action@v6.1.2
        id: git_diff
        with:
          PATTERNS: |
            **/*.go
            go.mod
            go.sum
            **/go.mod
            **/go.sum
            **/Makefile
            Makefile
        ###################
        #### Build App ####
        ###################
      - name: Build cmd apps # to ensure everything compiles
        if: env.GIT_DIFF
        run: make build-all