name: unit-test

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'

permissions: read-all

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
#      - name: Harden Runner
#        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
#        with:
#          disable-sudo: true
#          egress-policy: block
#          allowed-endpoints: >
#            api.github.com:443
#            github.com:443
#            *.githubusercontent.com:443
#            proxy.golang.org:443
#            storage.googleapis.com:443

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: "1.25.7"
          check-latest: true

      - name: go mod tidy
        run: |
          go mod tidy
          git diff --exit-code

      - uses: technote-space/get-diff-action@f27caffdd0fb9b13f4fc191c016bb4e0632844af # v6.1.2
        id: git_diff
        with:
          PATTERNS: |
            **/*.go
            go.mod
            go.sum
            **/go.mod
            **/go.sum
            **/Makefile
            Makefile
        ###################
        #### Build App ####
        ###################
      - name: Build artifacts # to ensure everything compiles
        if: env.GIT_DIFF
        run: make build-all
      - name: test
        run: make test-unit
